[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
autopep8 = "*"
flake8 = "*"
jupyter = "*"
pytest = "*"
pip-chill = "*"
sphinx = "*"
doc8 = "*"

[packages]
pymongo = "*"
google-cloud-logging = "*"
aenum = "*"
google-cloud-storage = "*"
dnspython = "*"
numpy = "*"
pandas = "*"

[requires]
python_version = "3.6"
